<div class="alert alert-dismissable helpdesk-ad text-center" style="width: 100%">
	<img src="https://www.mytuition.nz/assets/images/mytuition-logo.svg">

	<br><br>

	Username:<br>
	<input type="input" ng-model="username">

	<br><br>

	Password:<br>
	<input type="password" ng-model="password">

	<br><br>

	<b>Personal:</b><br>

	<button ng-click="mtDownload(username, password, true)">Download</button>
	<button ng-click="mtUpload(username, password, true)">Upload</button>

	<br><br>

	<b>MyTuition Standard:</b><br>

	Template names starting with "MyTuition " (case insensitive) will be recognised as
	standard MyTuition templates for everyone to use. By convention, their shoutcuts should
	all start with _, so that it doesn't clash with our personal ones.<br>

	<b>USE WITH CAUTION</b><br>
	<button ng-click="mtDownload(username, password, false)">Download</button>
	<button ng-click="mtUpload(username, password, false)">Upload</button>

</div>
